<%- content_for :fb_head do %>
  <meta property="fb:app_id" content="1150495698327638" />
  <meta property="og:url"    content="<%= new_pledge_url %>" />
  <meta property="og:description"  content="Take the iStreetwatch pledge today and commit to making our streets safe for everyone." />
  <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
  <meta property="og:image"  content="<%= image_url('fb_pledge_share')%>" />
<% end %>


<div class='row section'>
  <div class='col s12'>
    <p class='center'>
      <%= image_tag 'pledge-logo', class: 'responsive-img', width: 400 %>
    </p>

    <p class='flow-text'>We all have a responsibility to tackle racism and xenophobia on our streets; Take the iStreetwatch pledge today and commit to making our streets safe for everyone.</p>

    <div class='row section pledge'>
      <div class='col s12'>
        <h3 class='center'>I Pledge...</h3>
      </div>
      <div class='col s12 m4 center'>
        <p><strong>1</strong></p>
        <p>Not to look away if I see someone being harassed on the street.</p>
      </div>
      <div class='col s12 m4 center'>
        <p><strong>2</strong></p>
        <p>To speak up in situations where someone is being racist or xenophobic.</p>
      </div>
      <div class='col s12 m4 center'>
        <p><strong>3</strong></p>
        <p>To offer support to people who have been harassed on the street.</p>
      </div>
    </div><!-- end div.row-->

    <div class='row section pledge'>
      <%= form_for Pledge.new do |f| %>
        <div class="input-field col s12 m6">
          <i class='material-icons prefix'>person</i>
          <%= f.text_field :name, class: 'big', required: true %>
          <%= f.label :name do %>
            Name <sup>*</sup>
          <% end %>
        </div>

        <div class="input-field col s12 m6">
          <i class='material-icons prefix'>email</i>
          <%= f.email_field :email, class: 'big', required: true %>
          <%= f.label :email do %>
            Email <sup>*</sup>
          <% end %>
        </div>

        <div class="input-field col s12 center">
          <button class="btn-large actions waves-effect waves-light">Pledge</button>
        </div>
      <% end %>
    </div><!--end div.row.section-->

    <div class='col s12'>
      <p>Many people feel unsure what to do when they witness abuse or harassment. But doing something is better than doing nothing at all. People who take the iStreetwatch pledge are committing to taking action whenever it is safe to do so, including documenting incidents of harassment and where possible reporting them to the police.</p>
    </div>
  </div>
</div><!--end div.row-->
