<%- content_for :fb_head do %>
  <meta property="fb:app_id" content="1150495698327638" />
  <meta property="og:url"    content="<%= new_pledge_url %>" />
  <meta property="og:description"  content="Take the iStreetwatch pledge today and commit to making our streets safe for everyone." />
  <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
  <meta property="og:image"  content="<%= image_url('fb_pledge_share')%>" />
<% end %>


<div class="row">
  <div class="col s12 m10 offset-m1">
    <h2>Take the Pledge</h2>

    <p class="flow-text">
      We all have a responsibility to tackle racism and xenophobia on our streets.
    </p>

    <p class='flow-text'>
    Take the iStreetwatch pledge today and commit to making our streets safe for everyone.
    </p>

    <h4>I pledge:</h4>

    <ul class='browser-default'>
      <li><p class='flow-text'><strong>Not to look away</strong> if I see someone being harassed on the street.</p></li>
      <li><p class='flow-text'><strong>To speak up</strong> in situations where someone is being racist or xenophobic.</p></li>
      <li><p class='flow-text'><strong>To offer support</strong>  to people who have been harassed on the street.</p></li>
    </ul>

    <%= form_for Pledge.new, html: { class: 'homepage' } do |f| %>

      <div class="field">
        <%= f.label :email, "Email" %>
        <%= f.text_field :email,  type: 'text', class: 'validate' %>
      </div>

      <div class="field">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name,  type: 'text', class: 'validate' %>
      </div>

      <div class="field">
        <button class="btn">Pledge</button>
      </div>
    <% end %>

    <p>Many people feel unsure what to do when they witness abuse or harassment. But doing something is better than doing nothing at all. People who take the iStreetwatch pledge are committing to taking action whenever it is safe to do so, to documenting incidents of harassment and where possible reporting them to the police. <a href='http://www.unitedagainstracism.org/archive/pages/info30.htm'>http://www.unitedagainstracism.org/archive/pages/info30.htm</a></p>
  </div>
</div>
