<div class="row section">
  <div class="col s12">
    <h2>Finding Help</h2>

    <p class='flow-text'>Support for victims and witnesses of hate crime and incidents.</p>

    <p>If you have experienced abuse or know someone who has, there are various organisations that can offer free and confidential support and advice.</p>

    <div class='section'>
      <h5><%= link_to 'Victim Support', 'https://www.victimsupport.org.uk', target: '_blank' %></h5>
      <p>Victim Support is the leading independent charity for people affected by crime in England and Wales. They provide support and advice for all categories of hate crime.</p>
      <p>Their services are free, confidential and available to anyone in England and Wales, regardless of whether you choose to report the crime or not, or how long ago it happened.</p>
      <p><%= link_to 'Visit the website', 'https://www.victimsupport.org.uk', target: '_blank' %> or call the helpline on <strong>0300 303 1927</strong>. The helpline can give you details of your nearest branch and also put you in touch with local organisations that can help.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Race & Religion</h5>

      <p>There are other organisations that provide independent advice for specific categories of hate crime:</p>

      <p><%= link_to 'The Community Security Trust', 'https://cst.org.uk', target: '_blank' %> is a charity that provides help for victims of antisemitic incidents.</p>

      <p><%= link_to 'TELL MAMA', 'https://tellmamauk.org', target: '_blank' %> supports victims of anti- Muslim hate.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Gypsy, Roma & Travellers</h5>

      <p>Local organisations supporting Gypsy, Roma and Travellers are listed on <%= link_to 'this website', 'http://reportracismgrt.com/?page_id=239', target: '_blank' %>.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Police Funded Website: <%= link_to 'True Vision', 'http://www.report-it.org.uk/home', target: '_blank' %></h5>

      <p>True Vision is a Police funded website. On the website the police provide information about Hate Crime, including places to report and where to get independent and confidential help. The website also has a <%= link_to 'list of organisations', 'http://www.report-it.org.uk/organisations_that_can_help', target: '_blank' %> that can provide information and support for all categories of hate crime including homophobic, transphobic and disability hate crime.</p>
    </div>

  </div>
</div>