<div class="row section">
  <div class="col s12">
    <h2>Finding Help</h2>

    <p class='flow-text'>Support for victims and witnesses of hate crime and incidents.</p>

    <p>If you have experienced abuse or know someone who has, there are various organisations that can offer free and confidential support and advice.</p>

    <div class='section'>
      <h5><%= link_to 'Victim Support', 'https://www.victimsupport.org.uk', target: '_blank' %></h5>
      <p>Victim Support is the leading independent charity for people affected by crime in England and Wales. They provide support and advice for all categories of hate crime.</p>
      <p>Their services are free, confidential and available to anyone in England and Wales, regardless of whether you choose to report the crime or not, or how long ago it happened.</p>
      <p><%= link_to 'Visit the website', 'https://www.victimsupport.org.uk', target: '_blank' %> or call the helpline on <strong>0300 303 1927</strong>. The helpline can give you details of your nearest branch and also put you in touch with local organisations that can help.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Race & Religion</h5>

      <p>There are other organisations that provide independent advice for specific categories of hate crime:</p>

      <p><strong><%= link_to 'The Community Security Trust', 'https://cst.org.uk', target: '_blank' %></strong> is a charity that provides help for victims of antisemitic incidents.</p>

      <p><strong><%= link_to 'TELL MAMA', 'https://tellmamauk.org', target: '_blank' %></strong> supports victims of anti- Muslim hate.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Gypsy, Roma & Travellers</h5>

      <p>Local organisations supporting Gypsy, Roma and Travellers are listed on <%= link_to 'this website', 'http://reportracismgrt.com/?page_id=239', target: '_blank' %>.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Sexual Orientation & Transgender Identity</h5>

      <p><strong><%= link_to 'Stop LGB&T Hate Crime Help Line', 'https://www.stophateuk.org/report-lgb-and-t-hate-crime', target: '_blank' %></strong>: Stop Hate UK offer independent and confidential information, advice and support to anybody affected by LGB&T Hate Crime. The help line can be contacted 24h by phone on <strong>0808 801 0661</strong> or by e-mail: <%= link_to "talk@stophateuk.org", 'mailto:talk@stophateuk.org' %></p>

      <p>The help line covers England, Wales and Scotland. More information on the <%= link_to 'Stop Hate UK website', 'https://www.stophateuk.org/report-lgb-and-t-hate-crime', target: '_blank' %>.</p>

      <p><strong><%= link_to 'National LGBT Hate Crime Partnership', 'http://www.lgbthatecrime.org.uk', target: '_blank' %></strong>
 have a <%= link_to 'list of organisations', 'http://www.lgbthatecrime.org.uk/#get-support', target: '_blank' %> that provide direct support around LGBT Hate Crime.

      <p><strong><%= link_to "Galop's hate crime service", 'http://www.galop.org.uk', target: '_blank' %></strong>: Galop can help if you experience homophobia, transphobia or biphobia wherever it occurs, including at home, in public, at work, online or on cruising sites. More information on the <%= link_to 'Galop website', 'http://www.galop.org.uk/hate-crime-service/about-galops-hate-crime-service', target: '_blank' %>.</p>
    </div>

    <div class='divider'></div>

    <div class='section'>
      <h5>Police Funded Website: <%= link_to 'True Vision', 'http://www.report-it.org.uk/home', target: '_blank' %></h5>

      <p>True Vision is a Police funded website. On the website the police provide information about Hate Crime, including places to report and where to get independent and confidential help. The website also has a <%= link_to 'list of organisations', 'http://www.report-it.org.uk/organisations_that_can_help', target: '_blank' %> that can provide information and support for all categories of hate crime including homophobic, transphobic and disability hate crime.</p>
    </div>

  </div>
</div>