<div class="row section">
  <div class="col s12">
    <h2>Five Steps to Challenging Hate on the Streets</h2>

    <p>Hate crimes or hate incidents often occur in broad daylight, and in well-frequented public spaces. Yet many incidents occur without anyone intervening. The problem, in these cases, is less that people don't care than that they simply don't know what to do.</p>

    <p>Hate incidents leave victims stunned, shocked, sometimes even traumatised. Some victims report that the hurt of hate crime is magnified when bystanders do nothing, but bystanders also often end up feeling powerless.</p>

    <p>We are not powerless - and crucially, we are not alone. Below are five steps anyone can take to mitigate the impact of hate crimes and incidents. These steps do not involve acting alone as a hero, but rather listening to other people's experiences and sharing the stories that you witness or hear about.</p>

    <ol>
      <li><p><strong>LEARN:</strong> Situations can be complex, sometimes even dangerous. But there are people out there who have experience and tips. There are great online resources on how to challenge harassment and support the victim (for example see <%= link_to 'Racial Justice Network', 'https://www.youtube.com/watch?v=Lcd4VXHTR3Y', target: '_blank' %> or <%= link_to 'Hollaback', 'https://ldn.ihollaback.org/ive-got-your-back/', target: '_blank' %>). <%= link_to 'Contact us', 'mailto:istreetwatch@migrantsrights.org.uk' %> at iStreetWatch to let us know if you are interested in attending bystander intervention training in your area.</p></li>

      <li>
        <p><strong>INTERVENE:</strong> It can sound daunting, and it is not always possible. But you can familiarise yourself with these basic steps to responsibly intervene in a hate incident, via <%= link_to 'this comic by Maeril', 'http://maeril.tumblr.com/post/149669302551/hi-everyone-this-is-an-illustrated-guide-i-made', target: '_blank' %>:</p>

        <%= image_tag('challenging-hate-on-the-streets.jpg', :alt => 'Challenging Hate on the Streets', width: '100%') %>

        <p>The main thing is to listen to the victim and support them in ways they feel comfortable with. Respect that some people may not want assistance, but even offering a friendly smile and checking in with someone can help lessen the trauma.</p>
      </li>

      <li>
        <p><strong>FILM:</strong> If it is safe to do so, you can film the incident and help document what took place. Download a face-blurring app for your phone (such as <%= link_to 'PointBlur', 'https://play.google.com/store/apps/details?id=jp.co.pointblur.android.app.quick&hl=en', target: '_blank' %>), so you can shoot videos of incidents and highlight perpetrators without breaching the privacy of others, and then upload and share these videos online.</p>

        <p>It can be hard to secure convictions without enough evidence, but filming can help bridge the gap - as happened with this <%= link_to 'woman who was jailed after her racist rant', 'https://www.theguardian.com/uk/2012/may/29/tube-passenger-jailed-race-rant', target: '_blank' %> on the London tube was filmed.</p>
      </li>

      <li><p><strong>REPORT:</strong> Report any incidents of racist or xenophobic street harassment on iStreetWatch and share the site with friends, so others can share their stories and we can better highlight the scale of the problem. Incidents can also be reported to police (this is advised in case of emergency) or other <%= link_to 'third party reporting centres', finding_help_path %>. Reporting is not just the responsibility of victims - people who have witnessed or heard about an incident can also report it.</p></li>

      <li><p><strong>SHARE:</strong> Share this page to encourage others to take action to stop racist harassment!</p></li>
    </ol>

    <p>We can all arm ourselves with the information and skills we need to challenge hate on our streets. By demonstrating how to be an active bystander, you might also encourage others to do the same.</p>

    <p class='center flow-text'><strong>Listen, support, speak up and - above all - stay safe!</strong></p>

  </div>
</div><!-- end div.row -->




<!-- <%= link_to 'Visit the website', 'https://www.victimsupport.org.uk', target: '_blank' %> -->
