
<% content_for :title do %>
  Pledges
<% end %>

<div class='row section'>
  <div class='col s12'>

    <%= render 'admin/shared/date_picker', path: admin_pledges_path %>

    <div class='right-align'>
      <p><strong>
        <%= pluralize( @pledges.count, 'pledge' ) %> found:
        <%= link_to admin_pledges_path(
          format: 'csv',
          to:params[:to], from:params[:from]
        ) do %>
          CSV<i class="material-icons">file_download</i>
        <% end %>
      </strong></p>
    </div>

    <% unless @pledges.empty? %>

      <%= will_paginate @pledges, class: 'center' %>

      <div class='section'>
        <table class='responsive-table bordered highlight'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <% @pledges.each do |pledge| %>
              <tr>
                <td><%= pledge.name %></td>
                <td><%= pledge.email %></td>
                <td><%= pledge.created_at.strftime("%d %b %Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= will_paginate @pledges, class: 'center' %>

    <% end %>

  </div>
</div>