<%= form_for([:admin, report], html:{ id: 'report-form' }) do |f| %>

  <%= render 'layouts/form_errors', model: report %>

  <h5>Informant Details</h5>
  <div class='row section'>
    <div class='input-field col s12 m6'>
      <%= f.text_field :informant_name %>
      <%= f.label :informant_name do %>
        Name or Initials <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.email_field :informant_email %>
      <%= f.label :informant_email do %>
        Email <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.telephone_field :informant_tel %>
      <%= f.label :informant_tel, 'Phone Number' %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.select(:informant_role, select_options_for_informant_role, {include_blank: 'Choose your option'}) %>
      <%= f.label :informant_role do %>
        Role in Incident <sup>*</sup>
      <% end %>
    </div>

    <div class='col s12'>
      <p><strong>In further or higher education: <%= report.informant_is_student ? 'Yes' : 'No' %></strong></p>
    </div>

    <div class='col s12'>
      <p><strong>Permission to make contact: <%= report.informant_permission ? 'Yes' : 'No' %></strong></p>
    </div>
  </div><!-- end .row.section -->

  <h5>Incident Details</h5>
  <p><strong>Date incident happened: <%= report.date.strftime("%d %b %Y") %></strong></p>
  <div class='row section'>
    <div class='col s12'>
      <div class='row'>
        <div class='input-field col s12'>
          <%= f.select(:type_incident, select_options_for_type_incident,
            { include_blank: 'Choose your option(s)', include_hidden: false },
            {multiple: true, class: 'type-incident'}) %>
          <%= f.label :type_incident do %>
            Type of Incident <sup>*</sup>
          <% end %>
        </div>

        <div class='input-field other col s12 m6 hide-fields'>
          <%= f.text_field :type_incident_other %>
          <%= f.label :type_incident_other do %>
            Other Type of Incident <sup>*</sup>
          <% end %>
        </div>
      </div>
    </div>

    <div class='input-field col s12'>
      <%= f.text_area :description, class: 'materialize-textarea' %>
      <%= f.label :description do %>
        Description <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12'>
      <%= f.text_area :support, class: 'materialize-textarea'%>
      <%= f.label :support do %>
        Support Offered <sup>*</sup>
      <% end %>
    </div>

  </div><!-- end .row.section -->

  <h5>Incident Location</h5>
  <div class='row section'>
    <div class='input-field col s12 m6'>
      <%= f.text_field :house %>
      <%= f.label :house %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.text_field :street %>
      <%= f.label :street %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.text_field :town, class: 'town' %>
      <%= f.label :town do %>
        Town <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.text_field :region %>
      <%= f.label :region %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.text_field :postcode %>
      <%= f.label :postcode %>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.text_field :country %>
      <%= f.label :country %>
    </div>

    <%= f.hidden_field :lng %>
    <%= f.hidden_field :lat %>

    <div class='col s12'>
      <div class='row'>
        <div class='input-field col s12 m6'>
          <%= f.select(:type_location, select_options_for_type_location,
            {include_blank: 'Choose your option'}, {class: 'type-location'}) %>
          <%= f.label :type_location do %>
            Type of location <sup>*</sup>
          <% end %>
        </div>

        <div class='input-field other col s10 offset-s1 m6 hide-fields'>
          <%= f.text_field :type_location_other %>
          <%= f.label :type_location_other do %>
            Other Type of location<sup>*</sup>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- end .row.section -->

  <h5>Report Info</h5>
  <div class='row section'>
    <div class='input-field col s12 m6'>
      <%= f.select(:reported_to_police, select_options_for_was_reported, {include_blank: 'Choose your option'}) %>
      <%= f.label :reported_to_police do %>
        Has this incident been reported to the police? <sup>*</sup>
      <% end %>
    </div>

    <div class='col s12'>
      <p class='emph_checkbox'>
        <%= f.check_box :approved %>
        <%= f.label :approved, 'Approved for publication on iStreetWatch' %>
      </p>
    </div>

    <div class='col s12'>
      <% unless report.source.blank? %>
        <p><strong>Source: <%= report.source %><strong></p>
      <% end %>

      <p><strong>Reported to iStreetWatch: <%= report.created_at.strftime("%d %b %Y") %></strong></p>

      <p><strong> Email verified:
        <% if report.verification_code %>
          <%= report.verified_at ? report.verified_at.strftime("%d %b %Y") : 'pending' %>
        <% else %>
          n/a
        <% end %>
      </strong></p>

      <% if report.created_at != report.updated_at %>
        <p><strong>Last updated: <%= report.updated_at.strftime("%d %b %Y") %><strong></p>
      <% end %>
    </div>
  </div><!-- end .row.section -->

  <div class='row section'>
    <div class='input-field col s12 center'>
      <button class="btn-large submit-button">
        Save Changes
      </button>
    </div>
  </div><!-- end .row.section -->
<% end %>
