<div class='row section'>
  <div class="col s12">
    <table class='responsive-table bordered highlight'>
      <thead>
        <tr>
          <th class='id'>#</th>
          <th>Type of Incident</th>
          <th>Town</th>
          <th>When</th>
          <th>Reported</th>
          <th>Approved</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% reports.each do |report| %>
          <tr>
            <td class='id'><%= report.id %></td>
            <td><%= report.type_incident %></td>
            <td class='town'><%= report.town %></td>
            <td><%= report.date.strftime("%d %b %Y") %></td>
            <td><%= report.created_at.strftime("%d %b %Y") %></td>
            <td class='center'>
              <% if report.approved %>
                <i class='material-icons'>done</i>
              <% else %>
                <i class='material-icons pending-approval'>remove</i>
              <% end %>
            </td>
            <td class='small'>
              <%= link_to edit_admin_report_path(report) do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to [:admin, report], method: :delete, data: { confirm: 'Are you sure?' },
                class: 'delete' do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
