<% content_for :title do %>
  Reports
<% end %>

<div class="row section">
  <div class="col s12">
    <%= render "layouts/search", path: admin_reports_path, admin: true %>

    <p class='right-align'><strong>
      <%= @reports.total %> reports found:
      <%= link_to admin_reports_path(
        format: 'csv',
        q:params[:q], to:params[:to], from:params[:from], approved_only:params[:approved_only]
      ) do %>
        CSV<i class="material-icons">file_download</i>
      <% end %>
    </strong></p>

    <% unless @reports.empty? %>
      <%= will_paginate @reports, class: 'center' %>

      <%= render 'table', reports: @reports %>

      <%= will_paginate @reports, class: 'center' %>
    <% end %>
  </div>
</div>