<% content_for :title do %>
  Reports
<% end %>

<div class="row section">
  <div class="col s12">
    <%= render "layouts/search", path: admin_reports_path, range: true %>

    <p class='right-align'><strong><%= @reports.total %> reports found</strong></p>

    <% unless @reports.empty? %>
      <%= will_paginate @reports, class: 'center' %>

      <%= render 'table', reports: @reports %>

      <%= will_paginate @reports, class: 'center' %>
    <% end %>
  </div>
</div>