<div class='row'>
  <%= form_tag path, method: :get do %>

    <div class="input-field col s4 m3">
      <%= text_field_tag :from, @fDate.strftime("%-d/%m/%Y"),
        data: { value: @fDate.strftime("%Y-%m-%-d") }, class: 'datepicker' %>
      <%= label :from, 'from', for: :from %>
    </div>

    <div class="input-field col s4 m3">
      <%= text_field_tag :to, @tDate.strftime("%-d/%m/%Y"),
        data: { value: @tDate.strftime("%Y-%m-%-d") } , class: 'datepicker' %>
      <%= label :to, 'to', for: :to %>.
    </div>

    <div class="input-field col s4">
      <button class='btn' type='submit'>go</button>
    </div>

  <%- end %>
</div>