<%= form_for(report, id: 'report-form') do |f| %>

  <% if report.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(report.errors.count, "error") %> stopped this report from being saved:</h4>

      <ul>
      <% report.errors.messages.values.each do |message| %>
        <li><%= message.first %></li>
      <% end %>
      </ul>
    </div>

    <style type="text/css" media="all">
      .hidden-address {
        display: block;
      }
    </style>
  <% end %>

  <p class="flow-text center">Tell us your name...</p>
  <p class="center">(Skip this if you want to report anonymously)</p>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <p class="flow-text center">Tell us what happened...</p>

  <div class="field">
    <%= f.text_area :description %>
  </div>

  <p class="flow-text center">Tell us when it happened...</p>

  <div class="field">
    <%= f.text_field :time, class: 'datepicker' %>
  </div>

  <p class="flow-text center">Tell us where it happened...</p>

  <div class="field field-big">
    <%= text_field_tag 'map_address_finder', nil, id: 'autocomplete' %>
  </div>

  <div class="hidden-address">
    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street %>
    </div>

    <div class="field">
      <%= f.label :town %>
      <%= f.text_field :town %>
    </div>

    <div class="field">
      <%= f.label :postcode %>
      <%= f.text_field :postcode %>
    </div>

    <div class="field">
      <%= f.label :region %>
      <%= f.text_field :region %>
    </div>
  </div>

  <%= f.hidden_field :lng %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :house %>
  <%= f.hidden_field :country %>

  <div class='center-btn'>
    <button class="actions waves-effect waves-light btn-large submit-button">
      Create Report
    </button>
  </div>
<% end %>
