<%= form_for(report, html:{ id: 'report-form' }) do |f| %>
  <%= hidden_field_tag :partners, params[:partners] %>
  <%= f.hidden_field :source, value: params[:source] %>

  <p class='center small'><sup>*</sup> Required field</p>
  <p class='center small'>Your name and contact details will not be displayed anywhere on the website.</p>

  <%= render 'layouts/form_errors', model: @report %>

  <div class='row section'>

    <div class='input-field col s12'>
      <i class='material-icons prefix'>person</i>
      <%= f.text_field :informant_name, class: 'big', autofocus: true %>
      <%= f.label :informant_name do %>
        Name or Initials <sup>*</sup>
      <% end %>
      <span class='right'>Will not be displayed.</span>
    </div>

    <div class='input-field col s12'>
      <i class='material-icons prefix'>email</i>
      <%= f.email_field :informant_email, type: 'email', class: 'big' %>
      <%= f.label :informant_email do %>
        Email <sup>*</sup>
      <% end %>
      <span class='right'>Will not be displayed.</span>
    </div>

    <div class='input-field col s12'>
      <i class='material-icons prefix'>phone</i>
      <%= f.telephone_field :informant_tel, type: 'tel', pattern: '[\d+()-]{5,20}', class: 'big' %>
      <%= f.label :informant_tel, 'Phone Number' %>
      <span class='right'>Will not be displayed.</span>
    </div>

    <div class='col s12'>
      <p>Your contact information will remain <%= params[:partners].present? ? link_to( 'private', privacy_url, target: '_blank' ) : link_to('private', privacy_path ) %> to Migrants' Rights Network. We will not share it without your permission.</p>
      <p>To support our campaigning and advocacy work, we may get in touch with you for more details about the incident you have reported. Please tick this box, if you agree to being contacted for this purpose:</p>
      <p class='emph_checkbox'>
        <%= f.check_box :informant_permission %>
        <%= f.label :informant_permission, 'I agree to being contacted for this purpose.' %>
      </p>
    </div>

    <div class='col s12'>
      <p>The National Union of Students is an iStreetWatch partner and is interested in the experience of students. Please tick this box if you are in further or higher education:</p>
      <p class='emph_checkbox'>
        <%= f.check_box :informant_is_student %>
        <%= f.label :informant_is_student, "I'm in further or higher education." %>
      </p>
    </div>

  </div><!-- end .row.section -->

  <div class="divider"></div>

  <div class='row section'>

    <div class='input-field col s12 m6'>
      <%= f.select( :informant_role, select_options_for_informant_role,
        { include_blank: 'Choose your option' } ) %>
      <%= f.label :informant_role do %>
        This incident was... <sup>*</sup>
      <% end %>
    </div>

    <div class='col s12'>
      <div class='row'>
        <div class='input-field col s12 m6'>
          <%= f.select(:type_incident, select_options_for_type_incident,
            { include_blank: 'Choose your option(s)', include_hidden: false },
            { multiple: true, class: 'type-incident' }) %>
          <%= f.label :type_incident do %>
            What type of incident was it? <sup>*</sup>
          <% end %>
        </div>

        <div class='input-field other col s10 offset-s1 m6 hide-fields'>
          <%= f.text_field :type_incident_other %>
          <%= f.label :type_incident_other do %>
            Please tell us <sup>*</sup>
          <% end %>
        </div>
      </div>
    </div>

    <div class='input-field col s12'>
      <%= f.text_area :description, class: 'materialize-textarea' %>
      <%= f.label :description do %>
        Tell us what happened... <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12'>
      <%= f.text_area :support, class: 'materialize-textarea' %>
      <%= f.label :support do %>
        Tell us if anyone spoke up, or offered support... <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12 date'>
      <%= f.date_select :date, end_year: Date.today.year, order: [:day, :month, :year], use_short_month: true,
        prompt: { day: 'day', month: 'month', year: 'year' } %>

      <%= f.label :date do %>
        Tell us when it happened... <sup>*</sup>
      <% end %>
    </div>

    <div class='col s12'>
      <div class='row'>
        <div class='input-field col s12 m6'>
           <%= text_field_tag :map_address_finder, nil, id: 'autocomplete' %>
            <%= f.label :map_address_finder do %>
              Tell us where it happened... <sup>*</sup>
            <% end %>
        </div>

        <div class='hide-fields location'>
          <div class='input-field col s12 m6'>
            <%= f.text_field :street %>
            <%= f.label :street %>
          </div>

          <div class='input-field col s12 m6'>
            <%= f.text_field :town, class: 'town' %>
            <%= f.label :town do %>
              Town <sup>*</sup>
            <% end %>
          </div>

          <div class='input-field col s12 m6'>
            <%= f.text_field :postcode %>
            <%= f.label :postcode %>
          </div>

          <div class='input-field col s12 m6'>
            <%= f.text_field :region %>
            <%= f.label :region %>
          </div>

          <%= f.hidden_field :lng %>
          <%= f.hidden_field :lat %>
          <%= f.hidden_field :house %>
          <%= f.hidden_field :country %>
        </div>
      </div>
    </div>

    <div class='col s12'>
      <div class='row'>
        <div class='input-field col s12 m6'>
          <%= f.select(:type_location, select_options_for_type_location,
            { include_blank: 'Choose your option' }, { class: 'type-location' }) %>
          <%= f.label :type_location do %>
            Type of location: <sup>*</sup>
          <% end %>
        </div>

        <div class='input-field other col s10 offset-s1 m6 hide-fields'>
          <%= f.text_field :type_location_other %>
          <%= f.label :type_location_other do %>
            Please tell us <sup>*</sup>
          <% end %>
        </div>
      </div>
    </div>

    <div class='input-field col s12 m6'>
      <%= f.select(:reported_to_police, select_options_for_was_reported, { include_blank: 'Choose your option' }) %>
      <%= f.label :reported_to_police, class: 'truncate' do %>
        Has this incident been reported to the police? <sup>*</sup>
      <% end %>
    </div>

    <div class='input-field col s12 center'>
      <button class="actions waves-effect waves-light btn-large submit-button">
        Create Report
      </button>
    </div>
  </div><!-- end .row.section -->
<% end %>
