<%- content_for :fb_head do %>
  <meta property="fb:app_id" content="1150495698327638" />
  <meta property="og:url"    content="<%= report_url(@report) %>" />
  <meta property="og:description"  content="<%= @report.description %>" />
  <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
  <meta property="og:image" content='<%= static_map_url(@report.lat, @report.lng) %>' />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="400" />
<% end %>

<div class="row section">
  <div class="col s12">
    <h2>Report #<%= @report.id %></h2>

    <ul class="collapsible timeline" data-collapsible="expandable">
      <%= render partial: 'reports/timeline_item', locals: {report: @report, is_active: true} %>
    </ul>

  </div>
</div>