<div class='row section'>
  <div class="col s12">

    <h2>Timeline</h2>

    <%= render "layouts/search", path: timeline_reports_path, range: false %>

    <p class='right-align'><strong><%= @reports.total %> reports found</strong></p>

    <%= will_paginate @reports, class: 'center' %>

    <ul class="collapsible timeline" data-collapsible="expandable">
      <%- @reports.each do |report| %>
        <%= render partial: 'reports/timeline_item', locals: {report: report, is_active: false} %>
      <%- end %>
    </ul>

    <%= will_paginate @reports, class: 'center' %>

  </div>
</div>