<div class='row'>
  <div class="col s12 m10 offset-m1">
    <h2>Timeline</h2>
    <%- @reports.each do |report| %>
      <div class="report card">
        <div class="card-content">
          <p class='grey-para truncate'>
            <strong>
              <%= "#{report.name}, " unless report.name.blank? %>
              <%= report.town %>
            </strong>

            <%= content_tag(:small, "- #{report.time.strftime("%d %B")}") if report.time %>
          </p>
          <% if report.description  %>
            <section>
              <%= simple_format report.description.strip %>
            </section>
          <% end %>

          <% unless report.support.blank?  %>
            <p class='grey-para'>Did anyone speak up or offer support?</p>
            <section>
              <%= simple_format report.support %>
            </section>
          <% end %>
        </div>
        <div class="card-action">
          <div class='share-buttons'>
            <div class="fb-share-button"
                 data-href="<%= report_url(report)%>"
                 data-layout="button"
                 data-size="large"
                 data-mobile-iframe="true">
            </div>
          </div>
         </div>
      </div>
    <%- end %>

    <%= will_paginate @reports %>
  </div>
</div>
