<header>
  <nav class='top-nav'>
    <div class='container'>
      <div class='nav-wrapper'>
        <a href="#" data-activates='nav-mobile' class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>

        <p class='title'><%= yield :title %></p>

      </div>
    </div>
  </nav>

  <ul id='nav-mobile' class='side-nav fixed'>
    <li class='logo hide-on-med-and-down'>
      <%= link_to '#' do %>
        <%= image_tag('logo.png', alt: "Report racism and xenophobia") %>
      <% end %>
    </li>
    <li>
      <%= link_to "Dashboard", admin_dashboard_path, class: "#{'current' if current_page?(admin_dashboard_path)}" %>
    </li>
    <li>
      <%= link_to "Reports", admin_reports_path, class: "#{'current' if current_page?(admin_reports_path)}" %>
    </li>
    <li>
      <%= link_to "Pledges", admin_pledges_path, class: "#{'current' if current_page?(admin_pledges_path)}"  %>
    </li>
    <li>
      <%= link_to "Publications", admin_publications_path, class: "#{'current' if current_page?(admin_publications_path)}"  %>
    </li>
    <li>
      <%= link_to "Admins' Guide", admin_guide_path, class: "#{'current' if current_page?(admin_guide_path)}"  %>
    </li>
  </ul>
</header>