<header>
  <nav class='top-nav'>
    <div class='container'>
      <div class='nav-wrapper center'>
        <a href="#" data-activates='nav-mobile' class="button-collapse full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>

        <%= link_to root_path, class: 'logo hide-on-small-only hide-on-large-only' do %>
          <%= image_tag('logo.png', alt: "Report racism and xenophobia") %>
        <% end %>

        <ul class='right'>
          <% disabled = current_page?(new_report_path) ? 'disabled' : '' %>
          <li>
            <%= link_to "Report Incident", new_report_path,
              class: "report btn #{disabled} hide-on-med-and-down" %>
          </li>
          <li>
            <%= link_to "Report", new_report_path, class: "report btn #{disabled} hide-on-large-only" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul id='nav-mobile' class='side-nav fixed'>
    <li class='logo hide-on-med-and-down'>
      <%= link_to root_path do %>
        <%= image_tag('logo.png', alt: "Report racism and xenophobia") %>
      <% end %>
    </li>
    <li class='icon'>
      <%= link_to root_path, class: "hide-on-large-only #{'current' if current_page?(root_path)}" do %>
        <i class="material-icons right">home</i>Home
      <% end %>
    </li>
    <li>
      <%= link_to 'Report Incident', new_report_path, class: "#{'current' if current_page?(new_report_path)}" %>
    </li>
    <li class='pledge'>
      <%= link_to 'Pledge', new_pledge_path, class: "#{'current' if current_page?(new_pledge_path)}" %>
    </li>
    <li class='pledge-ad hide-on-med-and-down'>
      <p>
        <%= pluralize(Pledge.counter, 'person') %> have pledged to help end street harassment.
        <%= link_to_unless_current "Will you?", new_pledge_path %>
      </p>
    </li>
    <li>
      <%= link_to 'Timeline', timeline_reports_path, class: "#{'current' if current_page?(timeline_reports_path)}"%>
    </li>
    <li>
      <%= link_to 'About', about_path, class: "#{'current' if current_page?(about_path)}" %>
    </li>
    <li>
      <%= link_to 'Finding Help', finding_help_path, class: "#{'current' if current_page?(finding_help_path)}" %>
    </li>
    <% if Publication.count > 0 %>
      <li>
        <%= link_to 'Publications', publications_path, class: "#{'current' if current_page?(publications_path)}" %>
      </li>
    <% end %>
  </ul>
</header>