<!DOCTYPE html>
<html>
  <head>
    <title>iStreetWatch | ADMIN</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class='iSW admin'>
    <%= render partial: 'layouts/admin_header' %>

    <main>
      <div class='container'>
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
