<!DOCTYPE html>
<html>
  <head>
    <title>iStreetWatch - report racism and xenophobia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'general/application' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We track racist and xenophobic harassment in public spaces around the UK." />

    <% if content_for?(:fb_head) %>
      <%= yield(:fb_head) %>
    <% else %>
      <meta property="fb:app_id" content="1150495698327638" />
      <meta property="og:url"    content="<%= root_url %>" />
      <meta property="og:description"  content="Incidents of racist and anti-migrant abuse are becoming ever more public and prolific. We'd like to hear from you if you've witnessed or experienced racist or xenophobic harassment." />
      <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
      <meta property="og:image"  content="<%= image_url('I-Street-Watch-FB')%>" />
      <meta property="og:image:width" content="921" />
      <meta property="og:image:height" content="546" />
    <% end %>
  </head>

  <body class='iSW'>
    <%= render partial: 'layouts/header' %>

    <main>
      <div class='container'>
        <%= yield %>
      </div>
    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
