<!DOCTYPE html>
<html>
  <head>
    <title>iStreetWatch - report racism and xenophobia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We track racist and xenophobic harassment in public spaces around the UK." />

    <% if content_for?(:fb_head) %>
      <%= yield(:fb_head) %>
    <% else %>
      <meta property="fb:app_id" content="1150495698327638" />
      <meta property="og:url"    content="<%= root_url %>" />
      <meta property="og:description"  content="Incidents of racist and anti-migrant abuse are becoming ever more public and prolific. We'd like to hear from you if you've witnessed or experienced racist or xenophobic harassment." />
      <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
      <meta property="og:image"  content="<%= image_url('I-Street-Watch-FB')%>" />
      <meta property="og:image:width" content="921" />
      <meta property="og:image:height" content="546" />
    <% end %>
  </head>

  <body>
    <nav>
      <%= link_to image_tag('logo.png', height: 40, alt: "Report racism and xenophobia"), root_path, class: 'brand-logo' %>

      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class='right hide-on-med-and-down'>
        <li><%= link_to "Map", root_path %></li>
        <li><%= link_to "Timeline", timeline_reports_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Report Incident", new_report_path, class: 'report' %></li>
      </ul>

      <ul id='slide-out' class='side-nav'>
        <li><%= link_to "Map", root_path %></li>
        <li><%= link_to "Timeline", timeline_reports_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Report Incident", new_report_path, class: 'report' %></li>
      </ul>
    </nav>

    <%= javascript_include_tag 'application' %>

    <div class='content'>
      <%= yield %>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Have you taken our pledge?</h5>
            <%= link_to 'Pledge', new_pledge_path, class: "btn actions waves-effect waves-light" %>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Share</h5>
            <div class='share-buttons'>
              <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="small" data-mobile-iframe="true"></div>
              <a class="twitter-share-button"
                 href="https://twitter.com/intent/tweet"
                 data-text="Help iStreetwatch track racist & xenophobic street harassment. Take the pledge."
                 data-url="<%= root_url %>"
                 data-hashtags="iStreetWatch,PostRefRacism,Brexit"
                 data-size="small">Tweet</a>
            </div>
            <a class='email' href='mailto:istreetwatch@gmail.com'>istreetwatch@gmail.com</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1150495698327638";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36973797-4', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
