<!DOCTYPE html>
<html>
  <head>
    <title>iStreetWatch - report racism and xenophobia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We track racist and xenophobic harassment in public spaces around the UK." />

    <% if content_for?(:fb_head) %>
      <%= yield(:fb_head) %>
    <% else %>
      <meta property="fb:app_id" content="1150495698327638" />
      <meta property="og:url"    content="<%= root_url %>" />
      <meta property="og:description"  content="Incidents of racist and anti-migrant abuse are becoming ever more public and prolific. We'd like to hear from you if you've witnessed or experienced racist or xenophobic harassment." />
      <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
      <meta property="og:image"  content="<%= image_url('I-Street-Watch-FB')%>" />
      <meta property="og:image:width" content="921" />
      <meta property="og:image:height" content="546" />
    <% end %>
  </head>

  <body class='iSW'>
    <nav>
      <%= link_to image_tag('logo.png', height: 40, alt: "Report racism and xenophobia"), root_path, class: 'brand-logo' %>

      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class='right hide-on-med-and-down'>
        <li><%= link_to "Map", root_path %></li>
        <li><%= link_to "Timeline", timeline_reports_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Pledge", new_pledge_path %></li>
        <li><%= link_to "Report Incident", new_report_path, class: 'report' %></li>
      </ul>

      <ul id='slide-out' class='side-nav'>
        <li><%= link_to "Map", root_path %></li>
        <li><%= link_to "Timeline", timeline_reports_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Pledge", new_pledge_path %></li>
        <li><%= link_to "Report Incident", new_report_path, class: 'report' %></li>
      </ul>
    </nav>

    <%= javascript_include_tag 'application' %>

    <div class='content'>
      <%= yield %>
    </div>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
